* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #434343;
  font-family: sans-serif;
  color: #ddd;
}

.appContainer {
  display: grid;
  justify-content: center;
  margin-top: 10%;
  border: 1px solid lime;
}

form {
  display: grid;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid yellow;
}
button {
  margin-top: 1rem;
}
.liDiv {
  border: solid 1px #3bd1a7;
  margin: 0.5rem auto;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}
.liDiv div li {
  padding: 0.2rem;
  /* border: solid 1px pink; */
}
.liDiv div:nth-child(2) {
  color: yellow;
}
.liItemName {
  /* color: lime; */
}
.closeBtn {
  margin: 0.2rem 0;
  padding: 0.1rem 0.3rem;
  font-size: 0.6rem;
  outline: none;
  border: 2px solid orange;
  border-radius: 3px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
